@charset "utf-8";
@use "sass:meta";

// Define defaults for each variable.
$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol" !default;
$base-font-size: 1.1rem !default;
$base-font-weight: 400 !default;
$base-font-weight-bold: 600;
$base-font-weight-bolder: 800;
$small-font-size: $base-font-size * 0.875 !default;
$base-line-height: 1.4 !default;
$spacing-unit: 30px !default;

//-- colors
//--dark = theme--dark
$text-color: #111 !default;
$text-color--light: #111;
$text-color--dark: #fdfdfd;

$background-color: #fdfdfd !default;
$background-color--light: #fdfdfd;
$background-color--dark: #2e2c2c;

$brand-color: #2a7ae2 !default;
$grey-color: #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark: darken($grey-color, 25%) !default;
$yellow-color: gold;
$yellow-color-light: rgba(255, 217, 0, 0.432);

$table-text-align: left !default;

// Width of the content area
$content-width: 800px !default;

//margins
$margin-default: 1rem;

$on-palm: 600px !default;
$on-laptop: 800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

//dark mode
@mixin on-dark-mode {
  @media (prefers-color-scheme: dark) {
    html[data-theme="auto"] & {
      @content;
    }
  }
  html[data-theme="dark"] & {
    @content;
  }
}
// Import partials.
//@import "custom/base", "custom/layout";
