<!-- site-nav principal -->
<div class="site-nav __home">
  <a
    class="page-link"
    [routerLink]="['/blog']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    >Home</a
  >
</div>
<!-- site-nav per categoria -->
<div *ngFor="let cat of cats" class="site-nav">
  <ng-container *ngFor="let post of posts">
    <a
      *ngIf="cat == post.category"
      class="page-link"
      [routerLink]="['/blog', post.category, post.id]"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >{{ post.id }}</a
    >
  </ng-container>
</div>
