<!-- site-nav principal, links per categories, si 'cat' és la home, link a home -->
<div class="site-nav __home">
  <a
    *ngFor="let cat of cats"
    class="page-link"
    [routerLink]="cat == 'home' ? ['/blog'] : ['/blog', cat]"
    routerLinkActive="active"
    [routerLinkActiveOptions]="myMatchOptions"
    [queryParams]="{ page: defaultPage, theme: theme }"
    >{{ cat }}</a
  >
  <app-theme-switcher class="theme-switcher"></app-theme-switcher>
</div>
<!-- site-nav menús de post per categoria -->
<div *ngFor="let cat of cats" class="site-nav">
  <ng-container *ngFor="let post of posts">
    <a
      *ngIf="cat == post.category"
      class="page-link"
      [routerLink]="['/blog', post.category, post.name]"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      [queryParams]="{ theme: theme }"
      >{{ post.title }}</a
    >
  </ng-container>
</div>
