<div>
  <ul class="post-list">
    <ng-container *ngFor="let post of paginatedPosts; index as i">
      <li>
        <span class="post-meta">{{ i + 1 }} / {{ post.category }}</span>
        <a
          class="post-link category-{{ post.category }}"
          [routerLink]="['/blog', post.category, post.id]"
        >
          <span class="__title">{{ post.title }}</span>
          <span class="__description">{{ post.description }}</span>
        </a>
      </li>
    </ng-container>
  </ul>

  <app-pagination
    [currentPage]="currentPage"
    [itemsPerPage]="itemsPerPage"
    [totalItems]="totalItems"
    (pageChanged)="onPageChange($event)"
  ></app-pagination>
</div>
